# Игнорировать всё по умолчанию
*

# Но не игнорировать эти папки и файлы:
!src/
!includes/
!.gitignore
!coursework.pro
!resources.qrc
!sonar-project.properties
!.github/
!images/
!icons/

# Внутри папок тоже разрешить всё
!src/**
!includes/**
!.github/**
!images/
!icons/